<table class="table table-bordered table-hover">
    <thead class="thead-dark" *ngIf="_list()?.length">
        <tr>
            <td colspan="4" style="border: none; text-align:right;"><button (click)="onSelected(0, 'save')">Add
                    List</button></td>
        </tr>
        <tr>
            <th scope="col">List Title</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{_list | json}}
        <tr *ngFor="let _item of _list(); index as i">
            <td>{{_item.title}}</td>
            <td><button (click)="onSelected(_item.id, 'save')">Edit</button> | <button
                    (click)="onSelected(_item.id, 'delete')">Delete</button> | <button
                    (click)="onSelected(_item.id, 'viewbooks')">View Books</button></td>
        </tr>
    </tbody>
</table>

<div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage }}
</div>

<div class="modal" [class]="showModal ? 'show':''" role="dialog" tabindex="-1" aria-modal="true">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" [class]="action === 'delete' ? 'text-danger' : ''">{{action === 'save' ?
                    'Save List' : action === 'delete' ? 'Delete List?' : 'Add / Remove Books from List'}} - {{selectedlist()?.title}}</h4><button (click)="closePopup()"
                    class="close pull-right" type="button"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="delete-section" *ngIf="action === 'delete'">
                    <div style="width:100%; text-align: center;">
                        <button class="text-success" style="padding: 0.2rem 2rem;" (click)="closePopup()">No</button>
                        <button class="text-danger" style="padding: 0.2rem 2rem; margin-left:1rem;"
                            (click)="deleteProcess()">Delete</button>
                    </div>
                </div>
                <div class="save-section" *ngIf="action === 'save'">
                    <div style="width:100%; text-align: left;">
                        <div style="margin-bottom: 1rem">
                            <div class="form-group">
                                {{newList | json}}
                                <label for="booktitle" class="form-label">Book Title:<sup
                                        class="text-danger">*</sup></label><br>
                                <input class="form-control" required="required" type="text" [(ngModel)]="newList.title"
                                    id="booktitle" name="booktitle">
                            </div>

                        </div>
                        <button style="padding: 0.2rem 2rem;" (click)="closePopup()">Cancel</button>
                        <button class="text-success" style="padding: 0.2rem 2rem; margin-left:1rem;"
                            (click)="editProcess()">Save</button>
                    </div>
                </div>
                <div class="books-list" *ngIf="action === 'viewbooks'">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Book Title</th>
                                <th scope="col">Year</th>
                                <th scope="col">Auther Name</th>
                                <th scope="col">Action</th>
                            </tr>
                            <tr>
                                <td colspan="4" style="border: none; text-align:left;font-weight: bold;">Assigned Books
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let _book of getAssignedBooks(); index as i">
                                <td>{{_book.title}}</td>
                                <td>{{_book.year}}</td>
                                <td>{{_book.name}}</td>
                                <td><button (click)="processAssociation(_book.id, 'unassign')">Un-Assign</button></td>
                            </tr>
                            <tr>
                                <td colspan="4" style="border: none; text-align:left;font-weight: bold;">Available Books
                                </td>
                            </tr>
                            <tr *ngFor="let _book of getUnAssignedBooks(); index as i">
                                <td>{{_book.title}}</td>
                                <td>{{_book.year}}</td>
                                <td>{{_book.name}}</td>
                                <td><button (click)="processAssociation(_book.id, 'assign')">Assign</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay" [class]="showModal ? 'show':''"></div>